.bg-dark {
  background-color: #121212 !important;
}
img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.bg-light {
  background-color: #212121 !important;
}
.card {
  border: none !important;
}
.text-success {
  color: #1fdf64 !important ;
}
